body {
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    margin-left:200px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    float:left;
    color:#c9cacc;
    max-width:200px;
    text-align:center;
    padding:30px 40px 85px 85px;
}
.container
{
   max-width: 800px;
   margin: 0 auto;
   color: #4a4a4a;
   padding-left: 20px;
   padding-right: 20px;
   padding-top:20px;
}
h3 {
    font-family: "Book Antiqua3","Times New Roman",serif;
    color: #9500f9;
}

header{
    font-family:"Lucida Grande",serif;
    color:#0021f9;
    font-size: 300%;
    font-weight:bold;
    text-align:center;
    
}
