body {
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    margin-left:200px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container
{
   max-width: 800px;
   margin: 0 auto;
   color: #4a4a4a;
   font-family: sans-serif;
   padding-left: 20px;
   padding-right: 20px;
}
h3 {
    font-family: "Book Antiqua3","Times New Roman",serif;
    color: #6542f4;
    padding-bottom: 0;
}
.img{
    float:left;
    color:#c9cacc;
    max-width:200px;
    text-align:center;
    }
.head{
    font-family:"Lucida Grande",serif;
    color:#0021f9;
    font-size: 150%;
    font-weight:bold;
    margin-left:200px;
    margin-top:0px;
}
